@{
    Layout = null;
}

@model IEnumerable<Movies>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Horror Movie Database</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link asp-append-version="true" type="text/css" href="~/css/HorrorStyle.css" rel="stylesheet" />
</head>

<body>
    <div class="image-container">
        <header>
            <a href="home/index"></a>
        </header>
        <main>
            <h2>Movies</h2>





            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Genres</th>
                    <th>Release Date</th>
                    <th>Release Country</th>
                    <th>Movie Rating</th>
                    <th>Review Rating</th>
                    <th>Run Time</th>
                    <th>Plot</th>
                    <th>Cast</th>
                    <th>Language</th>
                    <th>Filming Locations</th>
                    <th>Budget</th>
                </tr>

                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.Genres</td>
                        <td>@movie.ReleaseDate</td>
                        <td>@movie.ReleaseCountry</td>
                        <td>@movie.MovieRating</td>
                        <td>@movie.ReviewRating</td>
                        <td>@movie.RunTime</td>
                        <td>@movie.Plot</td>
                        <td>@movie.Cast</td>
                        <td>@movie.Language</td>
                        <td>@movie.FilmingLocations</td>
                        <td>@movie.Budget</td>
                    </tr>
                }

            </table>


        </main>
    </div>
</body>
</html>