@{
    Layout = null;
}

@model Movies

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Model.Title</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
        <link asp-append-version="true" type="text/css" href="~/css/HorrorStyle.css" rel="stylesheet" />
    </head>

    <body>
        <div class="image-container">
            <header>
                <a class="nav" href="..">Back to Database</a>
            </header>

            <main>

            <h3 id="view-title">@Model.Title</h3>
            <a class="update" href="../UpdateMovie/@Model.ID">Update This Movie</a>
            <div>
                @using (Html.BeginForm("DeleteMovie", "Movie", "Post"))
                {
                    <input type="hidden" asp-for="ID" value="@Model.ID" />
                    <input id="delete-button" type="submit" onclick="return confirm('Are you sure?')" value="Delete this movie" />
                }
            </div>

            <h4 class="movie-prop">Genres</h4>
            <p class="movie-info">@Model.Genres</p>

            <h4 class="movie-prop">Release Date</h4>
            <p class="movie-info">@Model.ReleaseDate</p>

            <h4 class="movie-prop">Release Country</h4>
            <p class="movie-info">@Model.ReleaseCountry</p>

            <h4 class="movie-prop">Movie Rating</h4>
            <p class="movie-info">@Model.MovieRating</p>

            <h4 class="movie-prop">Review Rating</h4>
            <p class="movie-info">@Model.ReviewRating</p>

            <h4 class="movie-prop">Run Time</h4>
            <p class="movie-info">@Model.RunTime</p>

            <h4 class="movie-prop">Plot</h4>
            <p class="movie-info">@Model.Plot</p>

            <h4 class="movie-prop">Cast</h4>
            <p class="movie-info">@Model.Cast</p>

            <h4 class="movie-prop">Language</h4>
            <p class="movie-info">@Model.Language</p>

            <h4 class="movie-prop">Filming Locations</h4>
            <p class="movie-info">@Model.FilmingLocations</p>

            <h4 class="movie-prop">Budget</h4>
            <p class="movie-info">@Model.Budget</p>

            <h4 class="movie-prop">User Rating</h4>
            <p class="movie-info">@Model.UserRating</p>

                    @*<table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Genres</th>
                            <th>Release Date</th>
                            <th>Release Country</th>
                            <th>Movie Rating</th>
                            <th>Review Rating</th>
                            <th>Run Time</th>
                            <th>Plot</th>
                            <th>Cast</th>
                            <th>Language</th>
                            <th>Filming Locations</th>
                            <th>Budget</th>
                            <th>User Rating</th>
                        </tr>
                        <tr>
                            <th>@Model.ID</th>
                            <th>@Model.Title</th>
                            <th>@Model.Genres</th>
                            <th>@Model.ReleaseDate</th>
                            <th>@Model.ReleaseCountry</th>
                            <th>@Model.MovieRating</th>
                            <th>@Model.ReviewRating</th>
                            <th>@Model.RunTime</th>
                            <th>@Model.Plot</th>
                            <th>@Model.Cast</th>
                            <th>@Model.Language</th>
                            <th>@Model.FilmingLocations</th>
                            <th>@Model.Budget</th>
                            <th>@Model.UserRating</th>
                        </tr>
                    </table>*@

                    

            </main> 
        </div>
    </body>
</html>